<div class="container">
    <div class="row mb-4">
        <div class="col-lg-2 col-md-6 mb-3">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h6 class="card-title mb-0">Search Task</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-3">
            <form [formGroup]="searchForm" (ngSubmit)="searchTask()" class="d-flex">
                <input type="text" formControlName="topic" class="form-control me-2" placeholder="Enter Topic">
                <button class="btn btn-primary btn-sm" type="submit">Search</button>
            </form>
        </div>
        <div class="col-lg-5 col-md-12 mb-3">
            <form [formGroup]="dateRangeForm" (ngSubmit)="onDate()" class="row g-3">
                <div class="col-md-5">
                    <label for="startDate" class="form-label text-white">Start Date</label>
                    <input type="date" formControlName="startDate" id="startDate" class="form-control">
                </div>
                <div class="col-md-5">
                    <label for="endDate" class="form-label text-white">End Date</label>
                    <input type="date" formControlName="endDate" id="endDate" class="form-control">
                </div>
                <div class="col-md-2 align-self-end">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center bg-dark text-white p-2 rounded">
                <h6 class="mb-0">All Projects</h6>
                <div>
                    <button class="btn btn-success btn-sm me-2" (click)="downloadFile()">Download File</button>
                    <button class="btn btn-success btn-sm" *ngIf="rangeData" (click)="downloadRangeFile()">Download Selected Data File</button>
                </div>
            </div>
            <div *ngIf="tasks.length > 0" class="table-responsive mt-3">
                <table class="table table-dark table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Topic</th>
                            <th scope="col">Reference Link</th>
                            <th scope="col">Script</th>
                            <th scope="col">Thumbnail Text</th>
                            <th scope="col">Writer</th>
                            <th scope="col">Anchor</th>
                            <th scope="col">Raw Editor</th>
                            <th scope="col">Main Editor</th>
                            <th scope="col">Remark</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of tasks; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{task.topic}}</td>
                            <td>{{task.referenceLink}}</td>
                            <td>{{task.script}}</td>
                            <td>{{task.thumbnailText}}</td>
                            <td>{{task.writerName}}</td>
                            <td>{{task.anchorName}}</td>
                            <td>{{task.rawEditorName}}</td>
                            <td>{{task.mainEditorName}}</td>
                            <td>{{task.remark}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" (click)="openUpdatePanel(task._id)">View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mt-3" *ngIf="rangeData">
                <table class="table table-dark table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Topic</th>
                            <th scope="col">Reference Link</th>
                            <th scope="col">Script</th>
                            <th scope="col">Thumbnail Text</th>
                            <th scope="col">Writer</th>
                            <th scope="col">Anchor</th>
                            <th scope="col">Raw Editor</th>
                            <th scope="col">Main Editor</th>
                            <th scope="col">Remark</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of rangeData; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{task.topic}}</td>
                            <td>{{task.referenceLink}}</td>
                            <td>{{task.script}}</td>
                            <td>{{task.thumbnailText}}</td>
                            <td>{{task.writerName}}</td>
                            <td>{{task.anchorName}}</td>
                            <td>{{task.rawEditorName}}</td>
                            <td>{{task.mainEditorName}}</td>
                            <td>{{task.remark}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" (click)="openUpdatePanel(task._id)">View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="btn-group mb-3" role="group">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#previousTwoMonth">
                    {{previousTwoMonthName}}
                </button>
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#previousMonth">
                    {{previousMonthName}}
                </button>
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#currentMonth" aria-expanded="true">
                    {{currentMonthName}}
                </button>
            </div>
        </div>
        <div class="col-12 collapse show" id="currentMonth">
            <div class="table-scroll">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Topic</th>
                            <th scope="col">Reference Link</th>
                            <th scope="col">Script</th>
                            <th scope="col">Thumbnail Text</th>
                            <th scope="col">Writer</th>
                            <th scope="col">Anchor</th>
                            <th scope="col">Raw Editor</th>
                            <th scope="col">Main Editor</th>
                            <th scope="col">Remark</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of data; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{task.topic}}</td>
                            <td>{{task.referenceLink}}</td>
                            <td>{{task.script}}</td>
                            <td>{{task.thumbnailText}}</td>
                            <td>{{task.writerName}}</td>
                            <td>{{task.anchorName}}</td>
                            <td>{{task.rawEditorName}}</td>
                            <td>{{task.mainEditorName}}</td>
                            <td>{{task.remark}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" (click)="openUpdatePanel(task._id)">View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 collapse" id="previousMonth">
            <div class="table-scroll">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Topic</th>
                            <th scope="col">Reference Link</th>
                            <th scope="col">Script</th>
                            <th scope="col">Thumbnail Text</th>
                            <th scope="col">Writer</th>
                            <th scope="col">Achor</th>
                            <th scope="col">Raw Editor</th>
                            <th scope="col">Main Editor</th>
                            <th scope="col">Remark</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of previousData; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{task.topic}}</td>
                            <td>{{task.referenceLink}}</td>
                            <td>{{task.script}}</td>
                            <td>{{task.thumbnailText}}</td>
                            <td>{{task.writerName}}</td>
                            <td>{{task.anchorName}}</td>
                            <td>{{task.rawEditorName}}</td>
                            <td>{{task.mainEditorName}}</td>
                            <td>{{task.remark}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" (click)="openUpdatePanel(task._id)">View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 collapse" id="previousTwoMonth">
            <div class="table-scroll">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Topic</th>
                            <th scope="col">Reference Link</th>
                            <th scope="col">Script</th>
                            <th scope="col">Thumbnail Text</th>
                            <th scope="col">Writer</th>
                            <th scope="col">Anchor</th>
                            <th scope="col">Raw Editor</th>
                            <th scope="col">Main Editor</th>
                            <th scope="col">Remark</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of TwoPreviousData; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{task.topic}}</td>
                            <td>{{task.referenceLink}}</td>
                            <td>{{task.script}}</td>
                            <td>{{task.thumbnailText}}</td>
                            <td>{{task.writerName}}</td>
                            <td>{{task.anchorName}}</td>
                            <td>{{task.rawEditorName}}</td>
                            <td>{{task.mainEditorName}}</td>
                            <td>{{task.remark}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" (click)="openUpdatePanel(task._id)">View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>