<div class="row">
    <div class="col-12">
        <div class="employees bg-light text-dark p-3 rounded shadow-sm mb-4">
            <h5>All Employees</h5>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row g-3">
                <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let user of data">
                    <div class="card shadow-sm border-0">
                        <div class="circle mx-auto mt-3">
                            <div class="image">
                                <img src="avatar.png" alt="User Avatar">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-details">
                                <strong>Full Name:</strong>
                                <p class="mb-1">{{user.signupName}}</p>
                            </div>
                            <div class="card-details">
                                <strong>Username:</strong>
                                <p class="mb-1">{{user.signupUsername}}</p>
                            </div>
                            <div class="card-details">
                                <strong>Email:</strong>
                                <p class="mb-1">{{user.signupEmail}}</p>
                            </div>
                            <div class="card-details">
                                <strong>Mobile Number:</strong>
                                <p class="mb-1">{{user.signupNumber}}</p>
                            </div>
                            <div class="card-details">
                                <strong>Gender:</strong>
                                <p class="mb-1">{{user.signupGender}}</p>
                            </div>
                            <div class="card-details">
                                <strong>Role:</strong>
                                <p class="mb-1">{{user.signupRole}}</p>
                            </div>
                            <div class="card-details">
                                <strong>Address:</strong>
                                <p class="mb-1">{{user.signupAddress}}</p>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <button class="btn btn-primary btn-sm" routerLink="/update-employee/{{user._id}}">
                                    Update
                                </button>
                                <button class="btn btn-danger btn-sm" (click)="delete(user._id, 1)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
